.navbar {
    font-weight: bold;
    z-index: 1000;
}

.nav-link {
    border: 2px solid transparent;
    border-radius: 8px;
}

.nav-link.active {
    background-color: #1abc9c;
}

.bg-color-primary {
    background-color: #2c3e50;
}

.bg-color-secondary {
    background-color: #1a252f;
}

.bg-color-tertiary {
    background-color: #1abc9c;
}

body {
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
    margin: 0;
}

.app-layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
}

.icon {
    border: 1px solid #fff;
    border-radius: 50%;
    width: 40px !important;
    height: 40px;
    font-size: 20px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.line {
    width: 100px;
}

.overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(26, 188, 156, 0);
    transition: all 0.3s ease;
}

.imageBox:hover .overlay {
    background-color: rgba(26, 188, 156, 0.75);
    cursor: pointer;
}

.imageBox .overlay i {
    opacity: 0;
}

.imageBox:hover .overlay i {
    transform: scale(1.2);
    transition: transform 0.3s ease;
    opacity: 1;
}

.lightbox-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 190, 102, 0.479);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.lightbox-image {
    max-width: 50%;
    max-height: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.btn-primary {
    background-color: #1abc9c !important;
    border: none !important;
}

.form-control:focus {
  box-shadow: none !important;
}